{% extends "index.html.twig" %}

{% block content %}
    <div id="home">
        <section class="left-container" id="slider-container">
            <div id="slider-content">
                <div class="slider-item" style="background-color:yellow">
                    <h1>LEs jeux les plus populaires</h1>
                    <span>Trouver votre coatch</span>
                      <img src="./app/src/img/fifa-header.png" alt="Fifa 2019" class="img-slider"><br>
                </div><!--
                --><div class="slider-item" style="background-color:green">
                    <h2>LEs jeux les plus populaires</h2>
                    <span>Trouver votre coatch</span>
                    <img src="./app/src/img/banner-lol.png" alt="Fifa 2019" class="img-slider"><br>
                </div><!--
                --><div class="slider-item" style="background-color:blue">
                    <h2>LEs jeux les plus populaires</h2>
                    <span>Trouver votre coatch</span>
                     <img src="./app/src/img/fortnite-banner.png" alt="Fifa 2019" class="img-slider"><br>
                </div>
            </div>
            <div id="slider-triggers">
                <span class="slider-trigger">
                </span>
                <span class="slider-trigger">
                </span>
                <span class="slider-trigger">

                </span>
            </div>
        </section><!--
        --><section class="right-container">
            <article class="article article-full-width" style="background-image: url('./app/src/img/red-dead.jpg');">
                <br><br>
                <h2>Red Dead Online</h2>
                <span>Les serveurs sont désormais ouverts</span>
            </article><!--
            --><div class="article">
                <article class="article-v-splitted" >
                  <img src="./app/src/img/scgo-logo.png" alt="CSGO"><br>
                    <span>Avoir un coaching</span>
                </article>
                <article class="article-v-splitted">
                  <img src="./app/src/img/gow-logo.png" alt="God of War"><br>
                    <span>Avoir un coaching</span>
                </article>
            </div><!--
            --><article class="article" style="background-image: url('./app/src/img/mario-banner.jpg');">
            <h2>Super Smash Bros</h2>
            <span>Tous savoir sur le jeu</span>
            </article><!--
            --><article class="article is-light" style="background-image: url('./app/src/img/assassin-creed.jpg');">
            <h2>Jouer en musique</h2>
            <span>Nos playlist concues spécialement pour vous</span><br>
              <a href="https://open.spotify.com/user/22xszii4pud2uo3m4p5xvqhua/playlist/3Iwd2RiXCzmm1AMUpRAaHO?si=bZ3wrzaqR5aSGasBlsC_WQ"><img src="./app/src/img/spotify.png" alt="spotify"><br></a>

            </article><!--
            --><article class="article">
            <h2>Overwatch</h2>
            <span>La féérie hivernale est de retour</span><br><br><br>
            <img src="./app/src/img/overwatch.png" alt="Overwatch">
            </article>
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
