{% extends "index.html.twig" %}

{% block content %}
    <div id="home">
        <section class="left-container">
            Un slider de qualité
        </section><!--
        --><section class="right-container">
            <article class="article article-full-width">
                Red dead magle
            </article><!--
            --><div class="article">
                <article class="article-v-splitted">
                    cs "Have a coach"
                </article>
                <article class="article-v-splitted">
                    GoW "Have a coach"
                </article>
            </div><!--
            --><article class="article">
                Mario
            </article><!--
            --><article class="article">
                Spotify
            </article><!--
            --><article class="article">
                Overwatch
            </article>
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}