$primary-color: #f2f2f2;

/* RESET */
body {
    font: 16px sans-serif;
    /* 16px * 62.5% = 1.000 */
    margin: 0;
}

body,
html {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote,
address {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    font-weight: 100;
}

a,
abbr {
    text-decoration: none;
    color: rgba(200, 0, 0, 1);
}

abbr {
    color: #222;
}

* {
    box-sizing: border-box;
}

main {
    height: 100%;
}

<<<<<<< HEAD
// Global

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,600');

$bleu-fonce:#2c314f;
$bleu-claire:#6ec8df;
$beige:#efeee9;
$gris:#aaaaaa;
$noir:#1b1d29;

body {
    font-family: 'Lato';
    color:#5f5f5f;
}

h1,
h2,
h3,
h4
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color:$noir;
}

h1 {
    font-size:36px;
}
h2 {
    font-size:24px;
}
h3 {
    font-size:21px;
}
h4 {
    font-size:18px;
    color: $bleu-claire;
}

a {
    font-weight: 600;
    color:$bleu-claire;
}
strong {
    font-weight: 600;
}

blockquote {
    font-family: 'Montserrat', sans-serif;
    color:$bleu-claire;
    font-size: 18px;
}

li {
    list-style: none;
    &:before {
        content: '•';
    }
}

.is-light {
    color:white;
    h2 {
        color:white;
    }
}
=======
// END RESET

// TODO: font-family, mixin for font-size
>>>>>>> ceda62425decdd5dc50982aff6cd9f042906437e
