#login {
    height: 100%;
    overflow: hidden;

    .left-container, .right-container {
        width: 50%;
        height: 100%;
        // overflow: hidden;
        position: relative;
    }

    .left-container {
        display: inline-block;
        vertical-align: top;
        background-image: linear-gradient(to top, $bleu-claire 0%, #f0e7ea 70%);
        img {
            max-height: 90%;
            position: absolute;
            bottom: -30px;
            left: 25%;
        }
    }

    .right-container {
        display: inline-block;
        vertical-align: top;
        background: #f0e7ea;
        position: relative;
        .form {
            background-color: $bleu-fonce;
            width: 45%;
            height: auto;
            position: absolute; /* postulat de départ */
            top: 50%; left: 50%; /* à 50%/50% du parent référent */
            transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
            text-align: center;
            padding: 5%;
            img {
                width: 30%;
            }
        }
    }
}
