#slider-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    #slider-content {
        height: 100%;
        width: 100%;

        .slider-item {
            position: relative;
            display: inline-block;
            height: 100vh; // TODO: FIX that : not reusable
            width: 100%;
            vertical-align: top;
            background-image: linear-gradient(to top, $bleu-claire 0%, #f0e7ea 70%);
            // Personalisation
            h1 {
                padding: 20% 0 4% 25%;
            }
            h2 {
                padding: 20% 0 4% 25%;
                font-size:36px;
            }
            span {
                padding: 20% 0 4% 25%;
            }
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                max-height: 65%;
            }
            // END Personalisation
        }
    }

    #slider-triggers {
        position: absolute;
        bottom: 0;
        z-index: 1000;
    }

}
