{% extends "index.html.twig" %}

{% block content %}
    <div id="booking">
        <section class="jumbotron">
            <h1>À deux clicks d'être coaché par {{ coach.login }}</h1>
        </section>
        <section class="content">
            <h2 class="text-center">Ses disponibilités pour le {{ availability.day }}</h2>
        </section>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}