{% extends "index.html.twig" %}

{% block content %}
    <div id="login">
        <section class="left-container">
            <img src="./app/src/img/star-wars.png" alt="Fifa 2019"><br>
        </section><!--
        --><section class="right-container">

        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
