{% extends "index.html.twig" %}

{% block content %}
    <div id="register">
        <section class="left-container">
            <img src="./app/src/img/register.png" alt="Fifa 2019"><br>
        </section><!--
        --><section class="right-container">
        <div class="form">
            <img src="./app/src/img/LogoBlancTransparent.png" alt="Logo"><br><br>

                <form action="{{ current_url }}" method="POST">
                    Adresse mail:<br>
                    <input type="email" name="email"><br>
                    Login:<br>
                    <input type="text" name="login"><br>
                    Mot de passe:<br>
                    <input type="password" name="password_confirm"><br>
                    Confirmation mot de passe:<br>
                    <input type="password" name="password"><br><br>
                    <input type="submit" value="Submit">
                </form>
        </div>

            {% if response %}{{ response }}{% endif %}
        </section>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
