<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{% block title %}The lag | {% endblock %}Acceuil</title>
            <link rel="stylesheet" href="../lib/css/global.sass">
            {# Add all styles here #}
        {% endblock %}
    </head>
    <body>
        <main>
            {% block header %}
                {% include "header/header.html.twig" %}
            {% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}
                {% include "footer/footer.html.twig" %}
            {% endblock %}
        </main>
    </body>
</html>
